<div class="container" >
  <!-- Content here -->
    <h2>Stupid Coaching</h2>
  <h5>Ask your coach anything</h5>
  <form action="/answer" data-turbo="false">
  <br>
   <div class="row d-flex">
    <div class="col-2 p-0">
      <input type="text" class="form-control" name="question">
    </div>
    <div class="col-3 p-0">
      <input class= "btn btn-primary" type="submit" value="Ask!">
    </div>
    </div>
  </form>
</div>
